* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* Header */

header {
  background-color: #404042;
  height: 10%;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ED458B;
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
}

.span__h1 {
  font-weight: 300;
}

h2 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0px;
}

/* Main content */

main {
  display: flex;
  height: 90%;
}

aside {
  background-color: #F5F6F8;
  padding: 30px;
  width: 50%;
}

h3 {
  color: #606060;
}

.h3__set-range {
  margin: 0px;
}

article {
  display: block;
  padding: 20px;
  width: 100%;
}

.article {
  background-color:#FFFFFF;
  border: 2px solid #EAEAEA;
  margin: 10px;
}

.form__update-min,
.form__update-max {
  display: inline-block;
  width: 30%;
}

.form__update-max {
  margin: 20px;
}

button {
  background-color: #7F7F7F;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  height: 40px;
  width: 30%;
}

button:hover {
  background-color: #ED458A;
}

input {
  height: 40px;
  width: 100%;
}

.form__player-1-name,
.form__player-2-name {
  display: inline-block;
  width: 60%;
}

.form__player-1-guess,
.form__player-2-guess {
  display: inline-block;
  margin-left: 20px;
  width: 35%;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 5px auto;
}

.article__current-score {
  display: flex;
}
 
.score-left {
  border-right: 1px solid #EAEAEA;
  text-align: center;
  width: 50%;
}

.score-right {
  border-left: 1px solid #EAEAEA;
  padding-top: 35px;
  text-align: center;
  width: 50%;
}

#h3__latest-score {
  font-size: 1.5em;
  margin: 0px;
  text-align: left;
}

#article__current-range {
  color: #6E6E6E;
  font-size: 1.1em;
}

#min-number-display,
#max-number-display {
  color: #606060;
  text-decoration: underline;
  font-weight: bold;
}

#player-1-guess-display,
#player-2-guess-display {
  color: #ED458A;
  font-size: 5em;
  font-weight: 700;
  margin: 0px;
}

.challenger-1,
.challenger-2 {
  color: #606060;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0px;
}

#player-1-hint,
#player-2-hint {
  font-size: 1.2em;
  margin: 0px;
}
/* Winner Card */

section {
  background-color: #D1D2D4;
  width: 50%;
  padding: 20px 40px;
}

.section__right-card {
  background-color: #FFFFFF;
  border: 2px solid #EAEAEA;
  padding: 10px;
}

.card-header {
  border-bottom: 2px solid #EAEAEA; 
  display: flex;
  justify-content: space-between;
}

.card__challengers {
  color: #6E6E6E;
  font-weight: 700;   
}

h4 {
  font-size: 2em;
  font-weight: 700;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.card__winner-name {
  color: #6E6E6E;
}

.card__winner {
  text-align: center;
  font-weight: 300;
}
  
.h4__winner {
  font-size: 2em;
  font-weight: 300;
  margin: 0px 0px 20px 0px;
  color: #6E6E6E;
  text-align: center;
}

.card__delete-button {
  background-color: #808080;
  border-radius:50%;
  color: #d0d2d3;
  height: 20px;
  text-align: center;
  width:20px;
}

.card-footer__game-data {
  color: #6E6E6E;
}

.card-footer {
  border-top: 2px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
}

/* Error toggle */

.input__errors,
.player-1-name-error,
.player-1-guess-error, 
.player-2-name-error,
.player-2-guess-error {
  border: 2px solid #ED448A;
}

img {
  height: 20px;
  margin: 5px;
  width: 20px;
}

.div__min-range-error,
.div__max-range-error,
.div__name-1-error,
.div__name-2-error,
.div__guess-1-error,
.div__guess-2-error {
  display: flex;
  height: 20px;

}

.p__error-message {
  color: #ED458B;
  margin: 5px 0px 0px 0px;
}