* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* Header */

header {
  background-color: #404042;
  height: 10%;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ED458B;
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
}

.span__h1 {
  font-weight: 300;
}

h2 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0px;
}

/* Main content */

main {
  display: flex;
  height: 90%;
}

aside {
  background-color: #F5F6F8;
  padding: 30px;
  width: 50%;
}

h3 {
  color: #606060;
}

article {
  display: block;
  width: 100%;
}

.article {
  background-color:#FFFFFF;
  border: 2px solid #EAEAEA;
  margin: 10px;
  padding: 15px;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 5px auto;
}

.article__current-score {
  display: flex;
}

.score-left {
  border-right: 1px solid #EAEAEA;
  text-align: center;
  width: 50%;
}

.score-right {
  border-left: 1px solid #EAEAEA;
  text-align: center;
  width: 50%;
}

#h3__latest-score {
  text-align: left;
}

#article__current-range {
  color: #6E6E6E;
}

#min-number-display,
#max-number-display {
  color: #606060;
  text-decoration: underline;
  font-weight: bold;
}

/* Winner Card */

section {
  background-color: #D1D2D4;
  width: 50%;
  padding: 20px 40px;
}

.section__right-card {
  background-color: #FFFFFF;
  border: 2px solid #EAEAEA;
  padding: 10px;
}

.card-header {
  border-bottom: 2px solid #EAEAEA; 
  display: flex;
  justify-content: space-between;
}

.card__challengers {
  color: #6E6E6E;
  font-weight: 700;   
}

h4 {
  font-size: 2em;
  font-weight: 700;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.card__winner-name {
  color: #6E6E6E;
}

.card__winner {
  text-align: center;
  font-weight: 300;
}
  
.h4__winner {
  font-size: 2em;
  font-weight: 300;
  margin: 0px 0px 20px 0px;
  color: #6E6E6E;
  text-align: center;
}

.card__delete-button {
  background-color: #808080;
  border-radius:50%;
  color: #d0d2d3;
  height: 20px;
  text-align: center;
  width:20px;
}

.card__delete-button:hover {
  cursor: pointer;
  background-color: #DD1972;
  color: FFF;
}

.card-footer__game-data {
  color: #6E6E6E;
}

.card-footer {
  border-top: 2px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
}